.OptionItem {
    width: 80%;
    padding: 5px 5px;
}

.OptionItem:hover,
.OptionItem:active {
    background-color: #d8f3dc;
}

.Options {
    float: left;
    margin-top: 10vh;
    width: 10%;
    margin-left: 5%;
    background-color: #95d5b2;
    opacity: 0.8;
    border-radius: 5px;
}

.Content {
    margin-top: 10vh;
    float: left;
    width: 70%;
    margin-left: 5%;
    padding: 2% 0;
    background-color: #95d5b2;
    border-radius: 5px;
}