.BoxTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

.VisitsBox {
    position: relative;
    width: 100%;
}

.UpcomingVisitsBox {
    width: 49%;
    padding: 2% 2%;
    box-sizing: border-box;
    float: left;
    background-color: #b7e4c7;
    border-radius: 20px;
    box-sizing: border-box;
    border-right: 2px solid grey;
}

.UpcomingVisits {
    width: 100%;
}

.UpcomingVisitsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid grey;
    font-size: 150%;
}

.EndedVisitsBox {
    width: 49%;
    padding: 2% 2%;
    margin:  0 51%;
    background-color: #b7e4c7;
    border-radius: 20px;
    box-sizing: border-box;
    border-left: 2px solid grey;
}

.EndedVisits {
    width: 100%;
}

.EndedVisitsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid grey;
    font-size: 150%;
}