.SearchInput {
    background-color: white;
    border: 1px solid grey;
    width: 90%;
    margin-left: 5%;
    height: 56px;
    font-size: 200%;
    margin-bottom: 10px;
}

.Filters {
    /* background-color: #74c69d; */
    width: 80%;
    margin: 0 auto 1%;
    border-bottom: 2px solid grey;
}

.AllWorkshops {
    width: 76%;
    margin: auto;
    /* background-color: #b7e4c7; */

}

.TypeOfWorkshop {
    width: 15%;
    background-color: #b7e4c7;
    margin-left: 10%;
    margin-bottom: 10px;
}
