.Vehicle {
    padding-left: 10px;
    background-color: white;
    width: 80%;
    padding: 3% 2%;
    box-sizing: border-box;
    margin: 2% auto;
    border: 1px solid #777777;
    border-radius: 40px;
    opacity: 0.9;
    color: black;
    box-shadow: 4px 4px 5px 0px rgba(110,110,110,1);
}

.ButtonMoreInfo {
    padding-left: 70px;
}

.Workshop:hover {
    background-color: #bebebe;
}

.OptionBox {
    position: relative;
    left: 77%;
    animation: showOptions 0.5s linear;
}

.InfoButton,
.DeleteButton {
    float: left;
    display: flex;
    margin-right: 1%;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: grey;
}

@keyframes showOptions {
    0% {
        margin-top: -2%;
    }
    85% {
        margin-top: 2%;
    }
    100% {
        margin-top: 0;
    }
}

a {
    text-decoration: none;
}
