.AddVisitForm {
    position: absolute;
    padding-left: 5%;
    padding-bottom: 2%;
    border-radius: 50px;
    width: 30%;
    left: 32.5%;
    top: 10%;
    background-color: #ecebeb;
}

select, input {
    border-radius: 50px;
    width: 80%;
    height: 30px;
    border: 0;
    border-bottom: 2px solid #c2c2c2;
    background-color: #f7f3f3;
}

.AddVisitFormButton {
    width: 60%; 
    height: 30px;
    margin-left: 10%; 
    margin-top: 1%;
    border-radius: 50px;
    background-color: #cacaca;
}

.AddVisitFormButton {
    width: 60%; 
    height: 30px;
    margin-left: 10%; 
    margin-top: 1%;
    border-radius: 50px;
    background-color: #cacaca;
}

.AddVisitFormButton:hover {
    background-color: #f8f8f8;
}