.Button {
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    color: #74c69d;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    transition: linear 0.2s;
}

.Button:hover {
    background-color: #abd8bf;
    color: black;
}

.Button:disabled {
    cursor: not-allowed;
}
