.Input {
    width: 60%;
    margin-left: 20%;
	margin-bottom:25px;
}

.Label {
    position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
    pointer-event:none;
	transition: all 0.5s ease-in-out;
}
.InputElement {
    border:0;
    border-bottom:2px solid #555;  
    background:#95d5b2;
    width: 100%;
    color:#000;
}
.Invalid {
    border:0;
    border-bottom:2px solid rgb(216, 24, 24);  
    background:#95d5b2;
    width: 100%;
    color:#000;
}
.InputElement:focus {
    border:none;	
    outline:none;
    border-bottom:1px solid #e74c3c;
}
.Input .InputElement:focus ~ .Label,
.Input .InputElement:valid ~ .Label {
    top:-12px;
	font-size:12px;
}