.Workshop {
    padding-left: 10px;
    margin-bottom: 1%;
    background-color: #fff;
    width: 80%;
    margin-left: 7.5%;
    padding-left: 5%;
    border: 1px solid #cecece;
    opacity: 0.9;
    color: black;
    box-shadow: 4px 4px 5px 0px rgb(139, 139, 139);
}

.MoreInfoButton {
    margin-left: 95%;
}

a {
    text-decoration: none;
}