.Map {
    box-shadow: 0px 6px 5px 0px rgba(117,117,117,1);
}

.Schedule {
    width: 80%;
    box-sizing: border-box;
    margin-left: 10%;
    padding: 1%;
}

.WorkshopName {
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    margin-left: 10%;
}

.Description {
    width: 80%;
    margin-left: 10%;
    background-color: darkgoldenrod;
}

.Comments {
    width: 80%;
    margin-left: 10%;
    background-color: #d8f3dc;
    padding: 2% 0;
    box-sizing: border-box;
}

.CommentInput {
    margin-left: 2%;
}

.NewCommentButton {
    height: 40px;
    border-radius: 20px;
    background-color: #95d5b2;
    margin-left: 90%;
    margin-bottom: 2%;
}

.EditPanel {
    border: 0;
    border-top: 2px solid #74c69d;
    margin-top: 2%;
}

.RateOptions {
    background-color: #d8f3dc;
    width: 10%;
    margin-left: 2%;
}

