.ProfileBox {
    padding: 16px;
    margin-left: 30%;
    border-radius: 10px 10px;
    width: 40%;
}

.PersonalDataSection {
    padding: 2% 1%;
    border-top: 2px solid grey;
}

.AddressDataSection {
    padding: 2% 1%;
    border-top: 2px solid grey;
}

.PasswordDataSection {
    padding: 2% 1%;
    border-top: 2px solid grey;
}

.ChangeButton {
    width: 30px;
    height: 30px;
    margin-left: 70%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #95d5b2;
}

.ChangeButton:hover {
    background-color: #69cc95;
}